#external {
	color: yellow;
}

* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 30px;
}

#following {
	text-transform: uppercase ;
}

.languages {
	background-color: #049A33;
}

li[class="tools"] {
	border: 2px solid navy;
}

img + ul {
	list-style-type: none;
}

#other img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}	

ul ~ p {
	text-align: center;
}

#other > ul > li {
	letter-spacing: 10px;
}